<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/styles/dq.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Splash App</title>
  </head>

  <body>
    <div class="container">
      <h1>Tauri used Splash!</h1>
      <div class="row">
        <h5>It was super effective!</h5>
      </div>
      <ul>
        <li>https://tauri.app/plugin/system-tray/</li>
        <li>https://v2.tauri.app/reference/config/#trayiconconfig</li>
        <li>
          https://docs.rs/tauri/2.0.0-beta/tauri/menu/struct.Menu.html#method.popup
        </li>
        <li>
          -
          https://github.com/tauri-apps/tauri/issues/4338#issuecomment-2088861991
        </li>
        <li>https://tauri.app/plugin/window-customization/</li>
        <li>https://tauri.app/plugin/sql/</li>
        <li>https://tauri.app/plugin/file-system/</li>
        <li>https://tauri.app/plugin/dialog/</li>
        <li>https://tauri.app/plugin/logging/</li>
      </ul>
    </div>
  </body>
</html>
